<% layout("/layouts/boilerplate") %>
<style>
#filters {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }
    .filter p {
        font-size: 0.8rem;
    }
    .tax-info {
        display: none;
    }
    .tax-toggle {
        border: 1px solid black;
        border-radius: 1rem;
        height:3.5rem;
        padding: 1rem;
        margin-left:3rem;
        display: flex;
        align-items: center;
    }
</style>
<body>

<div id="filters" class="data-toggle=collapse">
<div class="filter">
<div><i class="fa-solid fa-fire icon"></i></div>
    <p class="para">Trending</p>
</div>
<div class="filter">
    <div><i class="fa-solid fa-bed icon"></i></div>
        <p class="para">Rooms</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain-city icon"></i></div>
            <p class="para">Iconic Cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain icon"></i></div>
                <p class="para">Mountains</p>
            </div>
            <div class="filter">
                <div><i class="fa-brands fa-fort-awesome icon"></i></div>
                    <p class="para">Castles</p>
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-person-swimming icon"></i></div>
                        <p class="para">Amazing Pools</p>
                    </div>
                    <div class="filter">
                        <div><i class="fa-solid fa-campground icon"></i></div>
                            <p class="para">Camping</p>
                        </div>
                        <div class="filter">
                        <div><i class="fa-solid fa-cow icon"></i></div>
                    <p class="para">Farms</p>
                </div>
                <div class="filter">
                    <div><i class="fa-regular fa-snowflake icon"></i></div>
                        <p class="para">Arctic</p>
                </div>
                    <div class="filter">
                        <div><i class="fa-solid fa-igloo icon"></i></div>
                            <p class="para">Domes</p>
                        </div>
                <div class="filter">
                        <div><i class="fa-solid fa-sailboat icon"></i></div>
                        <p class="para">Boats</p>
            </div>
<div class="tax-toggle">
    <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
    </div>
</div>
    &nbsp;&nbsp;&nbsp;<br><button class="btn btn-danger theme">
        Theme
    </button>
                            </div>
    <div class="row row-cols-lg-2 row-cols-xl-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let listing of result) { %>
            <a href="/listings/<%= listing._id %>" style="text-decoration: none;" class="listing-link">
            <div class="card col" style="width: 21rem;">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height:20rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text"><b><%= listing.title %></b>
                    <br>&#8377; <%= listing.price.toLocaleString("en-IN") %> /night
                &nbsp;&nbsp;<i class="tax-info">+15% Tax</i>
                </p>
                </div>
            </div>
            </a>
            <% } %>
    </div>


</body>

<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click",() => {
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo) {
            if(info.style.display!="inline"){
                info.style.display="inline";
            }else {
                info.style.display="none";
            }
        }
    });

    let btn = document.querySelector(".theme");
    let body = document.querySelector('body');
    let click = true;
    let icons = document.querySelectorAll('.icon');
    let paras = document.querySelectorAll('.para');
    btn.addEventListener("click",() => {
        if(click == true) {
        body.style.backgroundColor = 'black';
        for(icon of icons) {
            icon.style.color = 'white';
        }
        for(para of paras) {
            para.style.color = 'white';
        }
        click = false;
    }else {
        click = true;
        body.style.backgroundColor = 'white';
        for(icon of icons) {
            icon.style.color = 'black';
        }
        for(para of paras) {
            para.style.color = 'black';
        }
    }
});
</script>